body{
 
    background-image:url(https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 100px 400px 0 300px;
    font-size: 20px;
    font-style: italic;
    font-family: cursive;
}
fieldset{
    width: fit-content;
    padding: 30px;
    color: white;
    border: 3px solid white;
    box-shadow: 0 5px 15px white;
    border-radius: 20px;
}
.form-control{
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 30px;
    text-align: center;
}
.form-control:focus{
    background-color: red;
}
legend{
    font-weight: bolder;
    text-align: center;
}
#btn{
    background: linear-gradient(45deg,red,black,green);
    color: white;
    margin-left: 30%;
    border: none;
    box-shadow: 0 5px 15px white;
    padding: 10px;
    width: 100px;
    font-size: 20px;

}

